<!DOCTYPE html>
<html lang="zh-Hant-TW"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta property="og:title" content="逢甲打卡小幫手">
<meta property="og:url" content="https://isweek.hackersir.org/privacy">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:locale" content="zh_TW">
<meta property="og:site_name" content="逢甲打卡小幫手">
<title>逢甲打卡小幫手</title>
<link media="all" type="text/css" rel="stylesheet" href="static/law/bootstrap.min.css">
<link media="all" type="text/css" rel="stylesheet" href="static/law/bootflat-bfdb9907a0.css">
<link media="all" type="text/css" rel="stylesheet" href="static/law/font-awesome.min.css">
<style>h2{font-size:2.1em;}h3{font-size:1.8em;}p.text,li.text{font-size:1.3em;}</style>
 
 
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>

            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle Navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="https://tamama.com.tw/">逢甲打卡小幫手</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
</ul>
</div>
</div>
</nav>
<div class="container">
<ul class="nav nav-tabs">
<li role="presentation" class="active">
<a href="https://tamama.com.tw/privacy">隱私權</a>
</li>
<li role="presentation">
<a href="https://tamama.com.tw/terms">服務條款</a>
</li>
</ul>
<div class="panel panel-default">
<div class="panel-body">
<h1>隱私權政策</h1>
<p class="text">
當您開始使用本網站時，代表您信賴我們對您個人資料的處理方式。本《隱私權政策》意在讓您瞭解我們所收集的資料類型、收集原因及使用目的。
這些事情相當的重要，還請您撥冗詳閱。
</p>
<h2>我們收集的資訊</h2>
<p class="text">我們將會向您收集這些資訊：<br></p>
<ul>
<li class="text">IP地址</li>
<li class="text">瀏覽資訊</li>
<li class="text">學號（您的NID）</li>
<li class="text">密碼（您的NID）</li>
</ul>
<h2>我們分享的資訊</h2>
<p class="text">除非有以下狀況，否則我們絕對不會向對外任何單位、個人透露您的資訊：</p>
<div style="margin-left: 2em">
<h3>供外部統計</h3>
<p class="text">不會提供任何資料給外部單位</p>
</div>
<h2>資訊安全</h2>
<p class="text">我們致力於保護我們所持有的所有資訊，防止未經授權而遭到存取、竄改、揭露或毀損。尤其是：</p>
<ul>
<li class="text">我們使用 SSL 為我們服務加密。</li>
<li class="text">我們會審查收集、儲存、處理資訊的做法 (包括採取實體安全措施)，保護系統不致發生未經授權的存取。</li>
<li class="text">我們僅允許為了代表我們處理個人資訊而需要知悉該等資訊的網站管理員、主辦單位存取資訊。且相關人員均須遵守嚴格的契約保密義務，一旦未遵守義務便將受到懲戒處分。</li>
</ul> </div>
</div>
</div>
<footer class="footer">
<div class="container" style="padding-left: 0; padding-right: 0">
<p class="text-muted">
Powered by <a href="https://tamama.com.tw/" title="" target="_blank">逢甲打卡小幫手</a></a>
</p>
</li>
</ol>
</div>
</footer>
<script src="static/law/jquery-2.1.4.min.js"></script>
<script src="static/law/bootstrap.min.js"></script>
<script type="text/javascript">
                                $(document).ready(function() {
            Tipped.create('*',{
                fadeIn: 0,
                fadeOut: 0,
                position: 'right',
                target: 'mouse',
                showDelay: 0,
                hideDelay: 0,
                offset: { x: 0, y: 15 },
                stem: false
            });
        });
        </script>
<script src="static/law/v1.js" async=""></script>

</body><style id="stylish-1" class="stylish" type="text/css">/* Created by Antonio Ferreiro Ferrero AKA "a3cAnton" 09-05-2012 */
@namespace url(http://www.w3.org/1999/xhtml);</style></html>
